<div class="container">
  <div class="row justify-content-md-center mt-4">
    <div class="col-8">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Alpha Blog</h1>
        <p class="lead">Here you can read and create articles, feel free to upload as many as you want.</p>
        <hr class="my-4">
        <p>You only need an account, so why dont we create one? click in the button below to start.</p>
        <p class="lead">
          <%= link_to "Sign Up", signup_path, class:"btn btn-primary btn-lg"  %>
        </p>
      </div>
    </div>
  </div>
</div>